dap4.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema targetNamespace="http://xml.opendap.org/ns/DAP/4.0#"
	xmlns="http://xml.opendap.org/ns/DAP/4.0#" 
	xmlns:dap="http://xml.opendap.org/ns/DAP/4.0#" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd"
	xmlns:xml="http://www.w3.org/XML/1998/namespace" xml:schemaLocation="http://www.w3.org/XML/1998/namespace"
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified">

<!--
		
		Included because we need to use attribtues in other namespaces like 
		xlink (for the blob maybe) and xml:base (for Dataset definitely).
		
Is there a way to create an XSD that allows an attribute from a different
namespace, but only if it's qualified? An example of an XML file that would be
valid according to the schema is

<d:document dx:size="a5"
    xmlns:d="http://example.com/documents"
    xmlns:dx="http://example.com/document-extensions"/>
    
The schema should enforce the size attribute to be qualified and that is the
part that I can't get to work.

In your opening schema tag of your schema, not your instance document, use the 
attirbuteFormDefault="qualified" to ensure that all attributes are qualified to 
a namespace. In your schema you will have to import, not include, where the 
attribute in question is defined and then assign a namespace prefix to the 
document location you are importing.

Now you will have defined a namespace prefix to another definition that is 
known to your schema. You can now use elements of that other definition in 
your instance document prefixed with the namespace prefix you defined in your 
schema. This works best if the other definition document is also a schema.

link|improve this answer
answered Aug 23 '09 at 5:08
austin cheney

Thanks, I managed to solve it by importing the document-extensions schema 
from the document schema and then referencing an attribute group. I didn't use
the attributeFormDefault="qualified", since I wanted to be able to mix 
unqualified attributes with qualified ones. – levi_h Aug 23 '09 at 12:36
		
-->
	
	<xs:element name="Dataset" type="DatasetT">
		<xs:annotation>
			<xs:documentation>
				The root element. A 'Dataset' is root element for DAP4
				metadata (syntax and semantic) responses.
				
				Element names: Element names that start with capital letters
				correspond to parts of the DAP4 data model while those that
				start with lowercase letters are used for document structure
				and syntax.
				
				TODO
				
				DAP 4.0 introduces SharedDimension, Group, Opaque, 64-bit integers and
				UnsignedByte. In addition: The syntax for Array has been changed so that
				it's easier for processing software to figure out the type of an array; 
				Grids have been generalized so that there can be any number of 'Array'
				parts (and the Maps may be multi-dimensional); and OtherXML has been renamed
				AnyXML and made its own element (it's no longer a type of 'Attribute'). 

			</xs:documentation>
		</xs:annotation>
	</xs:element>


	<xs:complexType name="DatasetT">
		<xs:annotation>
			<xs:documentation>
				This is the XML representation of a data source in DAP 4.
				
				name: The name of the data source; often a string used to
					uniquely reference the data source wrt a particular
					server
				dapVersion: The protocol version that corresponds to this
					document.
				
				Note that the 'blob' element is only present when this is used
				as the prefix for the Data response.
				
				( AnyXML*, Attribute*, Group+, blob? )
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="Metadata"/>
			<xs:element name="Group" type="Group" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="blob" type="Blob" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="dapVersion" type="xs:string" use="required"/>
		<xs:attribute name="base" type="xs:string" use="required" form="unqualified">
			<xs:annotation>
				<xs:documentation>
					This is 
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>


	<xs:group name="Metadata">
		<xs:annotation>
			<xs:documentation>
				These elements are used in several places to hold the 
				'semantic' and/or 'use' metadata for the dataset, its groups 
				and variables.
				
				( AnyXML*, Attribute* )
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OtherXML" type="OtherXMLT" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Attribute" type="Attribute" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>


	<xs:complexType name="Attribute">
		<xs:annotation>
			<xs:documentation>
				DAP uses attributes as a way to encode information that data
				providers has bundled with data sources. This element is 
				recursive. Each Attribute element defines a lexical scope.
				
				name: The name of the attribute; must be unique within the 
					scope.
				type: The type of the attribute. Attributes are limited to 
					simple types, vectors of simple types and 'Containers' 
					which are essentially structure types. 
				namespace: Use this to indicate that the given attribute
					means the same thing as the matching item in the given
					namespace. This optional attribute is here to help preserve
					information that a data server might know to be true that
					a client application could not assume with certainty.
				
				( Value+ | ( Attribute*, Alias*, AnyXML* ) )
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:sequence>
				<xs:element name="value" type="xs:string" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:sequence>
				<xs:group ref="Metadata"/>
			</xs:sequence>
		</xs:choice>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<!-- TODO: Extend to more DAP types? -->
		<xs:attribute name="type" type="AttributeType" use="required"/>
		<xs:attribute name="namespace" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					The 'namespace' attribute
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<!-- These types have been declared to minimize name duplication -->

	<xs:simpleType name="ScalarTypeNames">
		<xs:annotation>
			<xs:documentation>
				Changes from DAP2 to DAP4: The Byte type is now signed and
				unsigned bytes are now represented by the 'UByte' data type.
				The types Int64 and UInt64 represent signed and unsigned 64-bit
				integers. String uses UTF-8 in DAP4.
			</xs:documentation>
		</xs:annotation>
		
		<xs:restriction base="xs:string">
			<xs:enumeration value="Byte"/>
			<xs:enumeration value="UByte"/>
			<xs:enumeration value="Int16"/>
			<xs:enumeration value="UInt16"/>
			<xs:enumeration value="Int32"/>
			<xs:enumeration value="UInt32"/>
			<xs:enumeration value="Int64"/>
			<xs:enumeration value="UInt64"/>
			<xs:enumeration value="Float32"/>
			<xs:enumeration value="Float64"/>
			<xs:enumeration value="String"/>
			<xs:enumeration value="Url"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Container">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Container"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AttributeType">
		<xs:union memberTypes="ScalarTypeNames Container"/>
	</xs:simpleType>

	<xs:complexType name="OtherXMLT">
		<xs:annotation>
			<xs:documentation>
				Use this to embed arbitrary XML in a DDX. This functions like
				an Attribute and appears in the same places as an Attribute,
				but its contents are ignored by DAP software. Other software
				might find the information useful. The XML elements must
				satisfy the requirements for 'lax' processing under schema 1.0.
				In practice, that means just about anything.
				
				name: A name to associate with this chunk of XML
				*: This element can contain any other attributes that conform 
					to the schema 1.0 definition of 'lax' processing
					
				( <xs:any/>+ ) 
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="##any" minOccurs="1" processContents="lax"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string"/>
		<xs:anyAttribute processContents="lax" namespace="##any"/>
	</xs:complexType>


	<xs:complexType name="Group">
		<xs:annotation>
			<xs:documentation>
				A Group is a lexical scoping tool used to replicate HDF5 and 
				netCDF4 Groups. Each Group defines a lexical scope. Each 
				dataset has at least one Group; if only one is present, it may
				be anonymous. In this case, by convention, it's name
				attribute should be 'anonymous', the default value.
				
				name: The name of the Group
				
				( AnyXML*, Attribute*, Dimension*, 
					( Byte | ... | Opaque )+ )
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="Metadata"/>
			<xs:element name="Dimension" type="Dimension" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="VariableTypes" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" default="anonymous"/>
	</xs:complexType>


	<xs:complexType name="Dimension">
		<xs:annotation>
			<xs:documentation>
				This defines a dimension (a name and size) that may be shared 
				between Grids and/or Arrays.
				
				name: The name of the dimension
				size: The size of the dimension
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="size" type="xs:integer" use="required"/>
	</xs:complexType>

	<!-- These groups have been defined to minimize name duplication -->

	<xs:group name="ScalarTypes">
		<xs:annotation>
			<xs:documentation>
				DAP Variable Types
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Byte" type="BaseType"/>
			<xs:element name="UByte" type="BaseType"/>
			<xs:element name="Int16" type="BaseType"/>
			<xs:element name="UInt16" type="BaseType"/>
			<xs:element name="Int32" type="BaseType"/>
			<xs:element name="UInt32" type="BaseType"/>
			<xs:element name="Int64" type="BaseType"/>
			<xs:element name="UInt64" type="BaseType"/>
			<xs:element name="Float32" type="BaseType"/>
			<xs:element name="Float64" type="BaseType"/>
			<xs:element name="String" type="BaseType"/>
			<xs:element name="Url" type="BaseType"/>
		</xs:choice>
	</xs:group>

	<xs:group name="ArrayTypes">
		<xs:choice>
			<xs:group ref="ScalarTypes"/>
			<xs:element name="Structure" type="Structure"/>
			<xs:element name="Opaque" type="BaseType"/>
		</xs:choice>
	</xs:group>

	<xs:group name="VariableTypes">
		<xs:choice>
			<xs:group ref="ArrayTypes"/>
			<xs:element name="Array" type="Array" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Grid" type="Grid" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Sequence" type="Sequence" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:group>


	<xs:complexType name="BaseType">
		<xs:annotation>
			<xs:documentation>
				Each variable in DAP4 is represented as a name and a collection
				of metadata (Attributes, ...). The type of the variable is 
				given in the element name (e.g., <Byte name="x"/>)
				
				name: The name of the variable
				
				( AnyXML*, Attribute*)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="Metadata"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>


	<xs:complexType name="Array">
		<xs:annotation>
			<xs:documentation>
				name: The name of the variable
				
				( AnyXML*, Attribute*, ElementType, Dimension+)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BaseType">
				<xs:sequence>
					<xs:element name="ElementType">
						<xs:complexType>
							<xs:group ref="ArrayTypes"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="dim" type="ArrayDimension" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<xs:complexType name="ArrayDimension">
		<xs:annotation>
			<xs:documentation>
				name: The name of the dimension
				size: The size of the dimension
				ref: A reference to a Dimension definition
				
				Note: either name and size must be present or only ref must 
				be present
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="size" type="xs:integer"/>
		<xs:attribute name="ref" type="xs:string"/>
	</xs:complexType>


	<xs:complexType name="Grid">
		<xs:annotation>
			<xs:documentation>
				A Grid is a type that relates one or more Maps (aka coordinate
				variables) to the dimensions of one or more Array variables. It
				is often the case that Maps correspond to independent variables
				like Latitude or sample number and Arrays represent dependent
				variables.
				
				name: The name of the variable
				
				( AnyXML*, Attribute*, Map+, Array+ )
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BaseType">
				<xs:sequence>
					<!-- Subtle change here: In DAP 3.2 and earlier, maxOccurs
						for the Array element was 1, now it's 'unbounded' and
						Maps have moved to teh top of the Grid. Not sure that 
						change is important, but it's a wash because the 
						content has changed -->
					<xs:element name="Map" type="Map" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="Array" type="Array" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<xs:complexType name="Map">
		<xs:annotation>
			<xs:documentation>
				name: optional name for this Map; if not given the map's name
				is the name of the SharedDimension, which must be given
				ref: optional reference to a SharedDimension definition
				type: required type of the map; type limited to Byte, ..., Url
				
				( AnyXML*, Attribute*, Dimension* )
				
				Note: If there are no dimension elements, ref must be given
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="Metadata"/>
			<xs:element name="Dimension" type="ArrayDimension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="ref" type="xs:string"/>
		<xs:attribute name="type" type="ScalarTypeNames" use="required"/>
	</xs:complexType>


	<xs:complexType name="Structure">
		<xs:annotation>
			<xs:documentation>
				A Structure; a simple aggregation of variables. Unlike a Group,
				it's possible to from an Array of Structures.
				
				name: The name of the variable
				
				( AnyXML*, Attribute*, ( Byte | ... | Opaque )+ )
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BaseType">
				<xs:group ref="VariableTypes" minOccurs="1" maxOccurs="unbounded"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<xs:complexType name="Sequence">
		<xs:annotation>
			<xs:documentation>
				A Sequence is a type that holds tabular data where each row
				of the table represents a relation, as in a relational database.
				Sequences can nest, but Arrays of Sequences are not supported.
				
				name: The name of the variable
				
				( AnyXML*, Attribute*, ( Byte | ... | Opaque )+ )
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BaseType">
				<xs:group ref="VariableTypes" minOccurs="1" maxOccurs="unbounded"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Blob">
		<xs:annotation>
			<xs:documentation>
				The 'Blob' element is used to point to an associated data 
				document. When DAP is used to access metadata only for a data
				source, no Blob element will be present. However, when a
				request for data is made, the Dataset element holds a
				description of the data values and the Blob points to a place
				where those values will be found. 
				
				In DAP 3.3+ the Blob element refers to binary 
				(application/octet-stream) part within a multi-part MIME
				document. 
				
				NB: In future versions of DAP, multiple Blob elements might
				be used to reference the data for several variables. In
				addition, the href attribute might be used to refer to data
				held anywhere on the network, not just within the MPM DAP
				data response document (aka DataDDX).
				
				href: Refers to the multi-part MIME document part that holds
					the data values, encoded using XDR.
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="href" type="xs:anyURI" use="required"/>
	</xs:complexType>


</xs:schema>
